*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:linear-gradient(
    135deg,
    #2b0018,
    #4a0028,
    #69003a
  );

  color:white;
  overflow-x:hidden;
}

/* Halaman awal */
.start-screen{
  width:100%;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.start-screen button{
  padding:15px 35px;
  border:none;
  border-radius:20px;

  background:#ff4f9a;
  color:white;

  font-size:22px;
  cursor:pointer;

  box-shadow:0 0 20px #ff4f9a;

  transition:0.3s;
}

.start-screen button:hover{
  transform:scale(1.08);
}

/* Hidden */
.hidden{
  display:none;
}

/* Container */
.container{
  width:100%;

  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:30px;

  padding:40px;
  flex-wrap:wrap;
}

/* Surat */
.letter{
  width:500px;
  max-width:90%;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  padding:25px;
  border-radius:20px;

  animation:fadeIn 1s ease;
}

/* Foto */
.photo{
  width:100%;
  border-radius:15px;
  margin-bottom:20px;

  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* Judul */
.letter h1{
  margin-bottom:20px;
  color:#ffb6d9;
}

/* Paragraf */
.letter p{
  line-height:1.8;
  margin-bottom:15px;
}

/* Lirik */
.lyrics-box{
  width:260px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  padding:20px;
  border-radius:20px;

  height:fit-content;

  animation:fadeIn 1.5s ease;
}

/* Judul lagu */
.song-title{
  font-size:20px;
  margin-bottom:20px;

  color:#ffb6d9;
}

/* Lirik */
.lyric{
  margin-bottom:15px;
  line-height:1.7;

  animation:blink 4s infinite;
}

/* Animasi masuk */
@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* Animasi lirik */
@keyframes blink{

  0%{
    opacity:0;
    transform:translateY(10px);
  }

  50%{
    opacity:1;
    transform:translateY(0);
  }

  100%{
    opacity:0;
    transform:translateY(-10px);
  }
}

/* HP */
@media(max-width:768px){

  .container{
    flex-direction:column;
    align-items:center;
    padding:20px;
  }

  .letter{
    width:100%;
  }

  .lyrics-box{
    width:100%;
  }

}
/* Bunga jatuh */
.flower{
  position:fixed;
  top:-50px;

  pointer-events:none;

  animation:fall linear forwards;

  z-index:999;
}

@keyframes fall{

  to{
    transform:
      translateY(110vh)
      rotate(360deg);

    opacity:0;
  }

}
